*{
    font-family:'Courier New', Courier, monospace;
}

#login:hover,#signup:hover{

    color:red;
    background-color: white;
    border-radius: 5px;
    background-color: yellow;

}

p+h3{
    color: aqua;
}

span>button{
    color: goldenrod
}

h1>p{
    color:lawngreen
}

input[type="password"] {
    background-color: aquamarine;
}
input[type="text"]{
    background-color: red;
}
input[type]{
    background-color: teal;
}

#search{
    border-radius:5px ;
    margin: auto;
    padding: auto;
    background-color: beige;
}
#search:focus-within{
    border: 2px solid blue;
}

div:nth-of-type(2n){

    background-color: antiquewhite;
}

h1::first-letter{
    text-decoration: line-through;
}
/* p::first-line{
text-decoration:line-through;
} */

p::selection{
    text-decoration:line-through;
    background-color: lime;
}