h1{
    text-align: end;
    border:  red solid 10px;
    background-color: yellow;
    width: 50%;
}
p{
font-weight: bolder;
/* text-decoration:blue underline ; */
text-decoration: green double overline ;
line-height:2w;
/* font-size: 1px */
font-family:papyrus;
text-transform: uppercase;
}